<h1>
    Pagos
</h1>
<div class="success-pay">
    <img class="success-pay_img" src="../../../assets/icons/check.png" alt="icon-ckeck">
    <p class="success-pay_p">Cambio exitoso</p>
</div>
<nav class="filter-box">
    <li class="filter-box-boton boton--active">
        <a href="javascript:;">Activos</a>
        <p>3</p>
    </li>
    <li class="filter-box-boton">
        <a href="javascript:;">Enviados</a>
        <p>0</p>
    </li>
    <li class="filter-box-boton">
        <a href="javascript:;">Finalizados</a>
        <p>0</p>
    </li>
    <li class="filter-box-boton">
        <a href="javascript:;">Pausados</a>
        <p>0</p>
    </li>
</nav>
<section class="description-box">
    <div>
        <p class="description-box-c">
            Total a pagar
        </p>
        <p class="description-box-valor">
            $600.000
        </p>
        <p class="description-box-total-pagos">
            Total pagos: 3 (<a href="javascript:;">5 facturas</a>)
        </p>
    </div>
    <div>
        <p class="description-box-c">
            Total a pagar
        </p>
        <p class="description-box-valor">
            $600.000
        </p>
        <p class="description-box-total-pagos">
            Total pagos: 3 (<a href="javascript:;">5 facturas</a>)
        </p>
    </div>
    <div>
        <p class="description-box-c">
            Total a pagar
        </p>
        <p class="description-box-valor">
            $600.000
        </p>
        <p class="description-box-total-pagos">
            Total pagos: 3 (<a href="javascript:;">5 facturas</a>)
        </p>
    </div>
    <div class="no-border-right">
        <p class="description-box-c">
            Total a pagar
        </p>
        <p class="description-box-valor">
            $600.000
        </p>
        <p class="description-box-total-pagos">
            Total pagos: 3 (<a href="javascript:;">5 facturas</a>)
        </p>
    </div>
</section>